<header>
    <ul class="menu">
        <li>
            <a href="@Url.Action("Index","Home")"> Ana Sayfa</a>
        </li>
        <li>
            <a href="@Url.Action("Sayfa2","Home")"> 2. Sayfa </a>
        </li>
        <li>
            <a href="@Url.Action("Sayfa3","Home")"> 3.Sayfa</a>
        </li>
    </ul>
</header>
